@import "_vars.scss";
@import "_mixins.scss";

.cases {
    &__container {
        padding-top: 120px;
        @media (max-width: 768px) {
            padding-top: 60px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 38px;
        line-height: 47px;
        color: $typography;
        margin-bottom: 60px;
        @media (max-width: 768px) {
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 32px;
        }
    }
    &__content {
        background-color: $gray-light;
        padding: 40px 50px 50px 50px;
        margin-bottom: 40px;
        @media (max-width: 450px) {
            padding: 20px;
        }
    }
    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: $typography;
        letter-spacing: .01em;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__descr {
        max-width: 751px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: $typography;
        margin-bottom: 30px;
    }
    &__down {
        display: flex;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    &__left {
        padding-right: 30px;
        border-right: 1px solid rgba(51, 51, 51, .2);
        @media (max-width: 768px) {
            padding-right: 0;
            padding-bottom: 12px;
            border: 0;   
            border-bottom: 1px solid rgba(51, 51, 51, .2);
            margin-bottom: 12px;
        }
    }
    &__goals {
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        opacity: .5;
        color: $gray;
        margin-bottom: 12px;
    }
    &__specific {
        max-width: 530px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $typography;
    }
    &__list {
        margin: 0;
        padding: 0;
        padding-left: 25px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $typography;
    }
    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 30px;
        @media (max-width: 768px) {
            padding-left: 0;   
        }
    }
    &__results {
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        opacity: .5;
        color: $gray;
        margin-bottom: 12px;
    }
    &__result {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $typography;
        margin-bottom: 13px;
    }
    &__result--1 {
        display: flex;
        align-items: center;
        max-width: 498px;
        span {
            font-weight: 500;
            font-size: 38px;
            line-height: 42px;
            color: $orange;
            margin-right: 15px;
        }
    }
    &__result--2 {
        span {
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: $orange;
            margin-right: 18px;
            span {
                font-weight: 500;
                font-size: 38px;
                line-height: 42px;
                margin-right: 0;
            }
        }
    }
    &__line {
        width: 100%;
        height: 1px;
        background-color: rgba(51, 51, 51, .2);
        margin-bottom: 120px;
        div {
            background-color: $gray;
            height: 2px;
            max-width: 200px;
        }
    }
}