@import "_vars.scss";
@import "_mixins.scss";

.clients {
    &__container {
        padding-top: 120px;
    }
    &__title {
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        color: $typography;
        margin-bottom: 60px;
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        justify-content: space-between;
    }
    &__card {
        width: 278px;
    }
}