@import "_vars.scss";
@import "_mixins.scss";

.header {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 28px;
        padding-bottom: 28px;
        @media (max-width: 540px) {
            padding-top: 14px;
            padding-bottom: 14px;
        }
    }
    &__logo {
        max-width: 150px;
    }
    &__slogan {
        color: $typography;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        opacity: 0.7px;
        @media (max-width: 1024px) {
            display: none;
        }
    }
    &__telephone {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $typography;
        margin-right: 40px;
        &:hover {
            color: $darkOrange;
        }
        &:active {
            color: $gray-light;
        }
        &:focus-visible {
            color: $orange;
        }
        @media (max-width: 1024px) {
            display: none;
        }
    }
    &__button {
        @include button($orange, 1px solid $orange, transparent, 16px 28px);
        &:hover {
            color: $white;
            background-color: $darkOrange;
            border-color: $darkOrange;
            span {
                background-image: url("../images/phone-white.svg");
                color: $white;
            }
        }
        &:active {
            background-color: $gray;
            border-color: $gray;
        }
        span {
            background-image: url("../images/phone.svg");
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: center left;
            padding-left: 28px;
        }
        @media (max-width: 1024px) {
            display: none;
        }
    }
    &__burger {
        @extend %btn-reset;
        display: none;
        width: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 1024px) {
            display: flex;
        }
        &-line {
            width: 100%;
            height: 2px;
            background-color: $typography;
            transition: transform .5s;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
        &--active {
            @media (max-width: 1024px) {
                transform: translateY(9px);
                margin-top: -18px;
                .header__burger-line {
                    margin: 0;
                }
                .header__burger-line--1 {
                    transform: rotate(45deg);
                }
                .header__burger-line--2 {
                    transform: rotate(-45deg);
                    margin-top: -2px;
                }
                .header__burger-line--3 {
                    display: none;
                }
            }
        }
    }
    &__line {
        height: 1px;
        width: 100%;
        background-color: rgba(51, 51, 51, 0.1);
        @media (max-width: 1024px) {
            display: none;
        }
    }
    &__down {
        display: flex;
        justify-content: space-between;
        padding-top: 31px;
        padding-bottom: 31px;
        .header__button {
            display: none;
        }
        @media (max-width: 1024px) {
            display: none;
            position: absolute;
            transition: transform .5s;
            padding-top: 57px;
            &--mobile { 
                top: 0;
                left: 0;
                width: 70%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                background-color: rgba(51, 51, 51, .9);
                svg path {
                    stroke: $white;
                }
                .header__button {
                    display: inline-block;
                }
                .header__menu {
                    flex-direction: column;
                    align-items: flex-end;
                    padding-right: 0;
                    .header__item {
                        margin-right: 0;
                        &:not(:last-child) {
                            margin-bottom: 16px;
                        } 
                        .header__link {
                            color: $white;
                        }   
                    }
                }
            }
        }
    }
    &__menu {
        @extend %list-reset;
        display: flex;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 40px;
            @media (max-width: 1215px) {
                margin-right: 10px;
            }
        }
    }
    &__link {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.01em;
        color: $typography;
        &:hover {
            color: $darkOrange;
        }
        &:active {
            color: $gray-light;
        }
        &:focus-visible {
            color: $orange;
        }
    }
    &__search {
        @extend %btn-reset;
        width: 24px;
        height: 24px;
        &:hover {
            svg path {
                stroke: $darkOrange;
            }
        }
        &:active {
            svg path {
                stroke: $gray-light;
            }
        }
        &:focus-visible {
            svg path {
                stroke: $orange;
            }
        }
        svg {
            width: 24px;
            height: 24px;
            path {
                transition: stroke .3s;
            }
        }
    }
}