@import "_vars.scss";
@import "_mixins.scss";

.recall {
    &__container {
        padding-top: 56px;
    }
    &__content {
        position: relative;
        text-align: center;
    }
    &__title {
        font-weight: 700;
        font-size: 38px;
        line-height: 47px;
        color: $typography;
        margin-bottom: 56px;
        @media (max-width: 768px) {
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 32px;   
        }
    }
    .swiper-button-prev, .swiper-button-next {
        border-radius: 100px;
        svg path {
            width: 56px;
            height: 56px;
            stroke: $gray;
        }
        &:hover {
            svg  {
                fill: $gray;
                .path--2 {
                    stroke: $white;
                }
                .path--3 {
                    stroke: $white;
                }
            }
        }
        &:active {
            svg  {
                fill: transparent;
                .path--2 {
                    stroke: $gray;
                }
                .path--3 {
                    stroke: $gray;
                }
            }
        }
        &:focus-visible {
            outline: 1px solid $orange;
        }
        @media (max-width: 1375px) {
            display: none;
        }
    }
    .swiper-button-prev {
        width: 56px;
        height: 56px;
        margin-left: -86px;
        &::after {
            content: '';
        }
    }
    .swiper-button-next {
        width: 56px;
        height: 56px;
        transform: rotate(180deg);
        margin-right: -86px;
        &::after {
            content: '';
        }
    }
    .swiper {
        margin-bottom: 50px;
        .swiper-slide {
            width: 360px;
            height: 420px;
            background-color: $gray-light;
        }
    }
    .swiper-pagination {
        display: none;
        @media (max-width: 1375px) {
            display: block;
        }
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 70px;
    }
    .swiper-pagination-bullet-active {
        background: $orange;
    }
    &__button {
        @include button($orange, 1px solid $orange, transparent, 16px 32px);
        align-self: center;
        &:hover {
            color: $white;
            background-color: $orange;
        }
        &:active {
            color: $white;
            border-color: $gray;
            background-color: $gray;
        }
    }
}